fastapi==0.127.0
uvicorn==0.39.0
websockets==14.0
playwright==1.54.0
loguru==0.7.3
psutil==7.2.0
commonmark==0.9.1
markdown-it-py==2.2.0
requests==2.31.0
pywin32==306


transformers==4.44.2
torch==2.5.1+cu121
torchvision==0.20.1+cu121
torchaudio==2.5.1+cu121
sentence-transformers==5.5.0
einops==0.8.2
modelscope==1.37.0


